.mutualaid-container{
    display:flex;
    justify-content: center;
    border-radius:42% 58% 43% 57% / 30% 44% 56% 70% ;
    background: #F5E25A;
    width:60vw;
    height: 60%;
    margin: 10% auto;
}

.mutualaid{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;

}

.mutualaid p{
    font-size: 2vmin;

}

.mutualaid h2{
    font-size: 2vw;
    /* color: red; */
}

.mutualaid h3{
    font-size: 1.2vw;
    color: #DD5B22;
}

.fridge-container{
    display:flex;
    justify-content: center;
    width:60vw;
    height: 60%;
    margin: 10% auto;
}

.germantown{
    background: #A9E0E0;
    border-radius:76% 24% 43% 57% / 30% 36% 64% 70% 

}
.people{
    background: #D3EF5E;
    border-radius:75% 25% 43% 57% / 48% 62% 38% 52% ;


}
.fridge{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;

}

.fridge p{
    font-size: 2vmin;

}

.fridge h2{
    font-size: 2vw;
    /* color: red; */
}

.fridge h3{
    font-size: 1.2vw;
    color: #DD5B22;
}