.mutualaid-container{
    display:flex;
    justify-content: center;
    border-radius:42% 58% 43% 57% / 30% 44% 56% 70% ;
    background: #F5E25A;
    width:60vw;
    height: 60%;
    margin: 10% auto;
}

.mutualaid{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;

}

.mutualaid p{
    font-size: 2vmin;

}

.mutualaid h2{
    font-size: 2vw;
    /* color: red; */
}

.mutualaid h3{
    font-size: 1.2vw;
    color: #DD5B22;
}

.fridge-container{
    display:grid;
    justify-content: center;
    width:60vw;
    height: 60%;
    margin: 5% auto;
    /* margin-top:5%; */
    place-items:center;
    /* border:solid; */
    
}
.mama-tee{
    background: #ffe371;
    border-radius:42% 58% 43% 57% / 30% 40% 60% 70%  ;
    height: auto;
    padding:2%;
    margin: 0 auto;

}

.phillycomm {
    background: #F8D3B4 ;
    border-radius:32% 68% 26% 74% / 60% 69% 31% 40%; ;

}

.germantown{
    background: #A9E0E0;
    border-radius:76% 24% 43% 57% / 30% 36% 64% 70% ;
    padding:4%; 

}
.peoples{
    background: #D3EF5E;
    border-radius:75% 25% 43% 57% / 48% 62% 38% 52% ;
    height:auto;


}
.fridge{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;
    /* border:solid; */

}

.phillycomm .fridge{
    margin-top:4.7%;
}

.mama-tee .fridge{
    /* border:solid; */
    margin: 4.7% auto;
    width:auto;


}

.addresses{
    display: flex;
    flex-direction:column;
    place-items: center;
    /* border:solid; */
    width:30vw;
    margin: 0 auto;
}
.addresses p{

    margin: 0 auto;
    padding:.25%;
    /* border:solid; */
    width:100%;
}

.fridge p{
    font-size: 1.5vmin;

}

.fridge h2{
    font-size: 2vw;
    /* color: red; */
}

.fridge h3{
    font-size: 1.2vw;
    color: #DD5B22;
}

.fridge span{
    font-size:2vmin;
}

.fridge button{
    margin: 0 auto;
    width:50%;
    padding: 1%;
    border: none;
    border-radius:76% 24% 73% 27% / 41% 69% 31% 59% ;
    background-color: #A6C5F6;
}

.link {
    color:#24037F;
}

.columns{
    /* border:solid; */
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.columns div{
    display:flex;
    /* flex-direction:column; */
    /* border:solid; */
    /* margin: 0 auto; */
}

.twocol {
    font-size: 1.6vmin;
    width:80%;
    text-align:justify;
    /* border:solid; */
    padding:3%;
    font-weight: 100 ;

}

.onecol{
    font-size: 1.6vmin;
    text-align:justify;
    /* border:solid; */
    padding:3%;
    font-weight: 100 ;
}

.carousel-control-next, .carousel-control-prev{
    /* display:block; */
    background:#F5E25A;
    /* border:solid; */
    height:30px;
    margin:auto 10%;
    border-radius:48% 52% 68% 32% / 60% 63% 37% 40% ;
    width: auto;
    padding: 2%;
}

.car-container{
    display:flex;
    place-items:center;
    height:100vh;
    margin:0 auto;
    /* border:solid; */
}

.map{
    height:auto;
    width:40vw;
    margin:0 auto;
    border-radius:12px;
    border:none;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}



.map-container{
    display:flex;
    margin: 5% auto;
    place-items:center;

    border-radius:48% 52% 68% 32% / 60% 63% 37% 40% ;
    /* background: #E0AFE2; */
    width:65vw;
    height:75vh;

}

.profile-container{
    /* border: solid; */
    height:98vh;
    display: flex;
   /* place-items: center; */
}

.profile{
    width:80vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction:column;
    place-items:center;
    /* border:solid teal; */
    

}

.profile h4{
    text-align:center;
}

.donations{
    display:flex;
    flex-direction:column;
    /* border:solid green; */
    margin:1% auto;
    
}
.donations p{
    width:80%;
    margin: 0 auto;
    text-align:center;
}

.yesno{ 
    display:flex;
    flex-direction:row;
    /* border:solid; */
    place-items:flex-start center;
}
.yesno h6, .donations h4,.donations span{
    text-align:center;

}

.yesno div{
    width:40%;
    border:solid;
    margin: 0 auto;
}

.yesno div:nth-child(2){

    height:100%;
}

.phypho{
    width:20vw;
    height: auto;
}

.seven{
    border:none;
    border-radius:69% 31% 70% 30% / 30% 30% 70% 70% ;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 10px 80px rgba(0, 0, 0, 0.12);
}

.mission p{
    width:80%;
    margin:1% auto;
    text-align: center;
    /* border:solid blue; */
    
}

.media{
    display:flex;
    flex-direction:column;
    place-items: center;
    margin:1%;
}

.media div{
}