.mutualaid-container{
    display:flex;
    justify-content: center;
    border-radius:42% 58% 43% 57% / 30% 44% 56% 70% ;
    background: #F5E25A;
    width:60vw;
    height: 60%;
    margin: 10% auto;
}

.mutualaid{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;

}

.mutualaid p{
    font-size: 2vmin;

}

.mutualaid h2{
    font-size: 2vw;
    /* color: red; */
}

.mutualaid h3{
    font-size: 1.2vw;
    color: #DD5B22;
}

.fridge-container{
    display:flex;
    justify-content: center;
    width:60vw;
    height: 60%;
    margin: auto;
    margin-top:5%;
}

.phillycomm {
    background: #F8D3B4 ;
    border-radius:32% 68% 26% 74% / 60% 69% 31% 40%; ;

}

.germantown{
    background: #A9E0E0;
    border-radius:76% 24% 43% 57% / 30% 36% 64% 70% ;
    padding:4%; 

}
.peoples{
    background: #D3EF5E;
    border-radius:75% 25% 43% 57% / 48% 62% 38% 52% ;
    height:auto;


}
.fridge{
    text-align: center;
    width: 90%;
    /* margin: 15% auto; */
    padding:7.5%;

}

.phillycomm .fridge{
    margin-top:7%;
}



.fridge p{
    font-size: 1.5vmin;
  

}

.fridge h2{
    font-size: 2vw;
    /* color: red; */
}

.fridge h3{
    font-size: 1.2vw;
    color: #DD5B22;
}

.fridge span{
    font-size:2vmin;
}

.fridge button{
    margin: 0 auto;
    width:50%;
    padding: 1%;
    border: none;
    border-radius:76% 24% 73% 27% / 41% 69% 31% 59% ;
    background-color: #A6C5F6;
    color:#24037F;
}

.columns{
    /* border:solid; */
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.columns div{
    display:flex;
    /* flex-direction:column; */
    /* border:solid; */
    /* margin: 0 auto; */
}

.twocol {
    font-size: 1.6vmin;
    width:80%;
    text-align:justify;
    /* border:solid; */
    padding:3%;
    font-weight: 100 ;

}

.onecol{
    font-size: 1.6vmin;
    text-align:justify;
    /* border:solid; */
    padding:3%;
    font-weight: 100 ;
}