.App {
	text-align: center;
	/* max-width:1000px; */
}

header {
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	z-index: 1;
}

a,
/* span, */
h1,
/* h2, */
h3,
h4 
{
	font-family: "DM Serif Text", serif;
}

nav {
	display: flex;
	justify-content: flex-start;
	padding: 1.5%;
	/* align-items: center; */
	width: 80vw;
	/* place-items:flex; */
}

.nav-span {
	display: flex;
	width: auto;	
	text-decoration: none;
	font-size: 1.2rem;
	text-decoration: none;
	border: none;
	margin: 0 0.75% 0 0;
	padding: 0 0 0 0.75%;
	place-items: center;
	cursor: pointer;
		font-family: "DM Serif Text", serif;

}

#mapid { height: 180px; }


i {
	color: wheat;
}

a:hover {
	color: rgb(245,172,0);
}


a {
	color:rgb(245,172,0);
}

i:hover {
	color: antiquewhite;
}

a:hover {
	text-decoration: none;
	color: rgb(245,172,0);
}

h1 {
	font-size: 5.5em;
}



.onion{
	/* display: block;

	width:50vw;
	max-width:950px; 
	margin:50vw 10vw; 
	border: solid; */
}




.bottom.contact-blob{
	/* display: block;
	border:solid;
	width: 100vw;
	margin:0 0 0 0; */
}


.title{
	width: 100%;
	/* border: solid; */
}
.title img{
width: auto;
height:6vh;
/* border:solid; */
}

