.App {
	font-family: 'Ubuntu', sans-serif;
	color: #24037F;

}

header {
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	z-index: 1;
}

nav {
	display: flex;
	justify-content: flex-start;
	padding: 1.5%;
	width: 80vw;
}

.nav-span {
	display: flex;
	width: auto;	
	text-decoration: none;
	font-size: 1.2rem;
	text-decoration: none;
	border: none;
	margin: 0 0.75% 0 0;
	padding: 0 0 0 0.75%;
	place-items: center;
	cursor: pointer;
		/* font-family: "DM Serif Text", serif; */

}


.title{
	/* width: 100%; */
	/* border: solid; */
}
.title img{
width: auto;
height:6vh;
/* border:solid; */
}

